
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href={% static "styles.css" %}>
    <meta charset="utf-8">
    <title> Loan Site </title>
  </head>
<body>

<header>
  <div class="container">
  
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Statistics</a></li>
      <li><a href="#">Clients</a></li>
    </ul>
  </nav>
  </div>
</header>
  
  <div>
  <h1> Welcome to the Loan Site</h1>
  </div>
    

</body>
</html>

  